@import "tailwindcss";

:root {
  --background: #E7ECEF;
  --foreground: #274C77;
  
  /* Paleta de colores del proyecto */
  --color-light: #E7ECEF;
  --color-primary: #274C77;
  --color-secondary: #6096BA;
  --color-accent: #A3CEF1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #274C77;
    --foreground: #E7ECEF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}